{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="welcome-message" id="welcomeMessage"> {{ user.first_name }} خوش آمدید  </div>
            {% if balance %}
                <div class="balance-display" id="balance">موجودی حساب: <span class="balance_num">{{ balance }}</span> تومان</div> 
            {% else %}
                <div class="balance-display" id="balance">موجودی حساب: 0 </div>
            {% endif %}
            <div class="button-group">
                <button class="btn" id="showIncome">نمایش درآمد</button>
                <button class="btn" id="showOutcome">نمایش هزینه</button>
            </div>
            {% include 'partials/_chart.html' %}
        </div>
    </div>
{% endblock %}