{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="header">
        <div class="head-title"><h1>منو خرجام</h1></div>
        <p id="current-date">{{ persian_date }}</p>
        <p><span id="current-time">{{ persian_time }}</span></p>
    </div>
    <script>
        const updateClock = () => {
        document.getElementById('current-date').textContent = new Date().toLocaleDateString('fa-IR');
        document.getElementById('current-time').textContent = new Date().toLocaleTimeString('fa-IR');
    };


    updateClock();
    setInterval(updateClock, 1000);
    </script>

{% endblock %}