<div class="topbar">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="user-actions">
            <a href="#" id="loginLink">ورود</a>
            <a href="#" id="signupLink">ثبت نام</a>
            <a href="#" id="logoutLink">خروج</a>
        </div>
        <div>
            <div class="current-time" id="current-time">{{ persian_time }}</div>
            <div class="current-date" id="current-date">{{ persian_date }}</div>
        </div> 
    </div>
</div>