{% extends 'base.html' %}
{% block title%}فراموشی کلمه عبور{% endblock%}
{% block content %}
<div class="container">
    <div class="forget-password-container">
        <h2 class="text-center mb-4">بازیابی رمز عبور</h2>
        <form action="{% url 'forget_password' %}" method="post" id="form-input">
            {% csrf_token %}
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label text-right">ایمیل یا نام کاربری</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="emailorusername" placeholder="ایمیل  یا نام کاربری خود را وارد کنید">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">بازیابی رمز عبور</button>
        </form>
        <div class="text-center mt-4">
            <a href="{% url 'login' %}" class="btn btn-link">بازگشت به ورود</a>
        </div>
    </div>
</div>
{% endblock %}
