{% extends 'base.html' %}
{% load static %}

{% block title%}تراکنش ها{% endblock%}
{% block content %}

 <link rel="stylesheet" href="{% static 'css/jalalidatepicker.min.css' %}">
 

 <div class="container">
    <div class="transactions-container" id="transactions-container">
        <h2 class="text-center mb-4">تراکنش‌ها</h2>

        <!-- Filter Buttons -->
        <div class="filter-buttons">
            <button class="btn btn-primary" id="showIncome">درآمدها</button>
            <button class="btn btn-secondary" id="showOutcome">هزینه‌ها</button>
        </div>

        <!-- Income Transaction Samples -->
        <div id="transactionList">
            {% if transaction_income %}
                {% for tr_income in transaction_income %}
                    <div class="transaction-card income" id="income1">
                        <p><strong>مبلغ: </strong>{{ tr_income.amount }} تومان</p>
                        <p><strong>تاریخ: </strong>{{ tr_income.transaction_date }}</p>
                        <p><strong>زمان: </strong>{{ tr_income.transaction_time }}</p>
                        <p><strong>دسته‌بندی: </strong>{{ tr_income.category_id.category_name}}</p>
                        <p><strong>توضیحات: </strong>{{ tr_income.description }}</p>
                        <button class="btn btn-warning btn-sm edit-btn" onclick="showEditModal({{ tr_income.id }}, '{{ tr_income.amount }}', '{{ tr_income.transaction_date }}', '{{ tr_income.transaction_time }}', '{{ tr_income.category_id.id }}', '{{ tr_income.description }}');">ویرایش</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="showConfirmModal({{ tr_income.id }});">حذف</button>
                
                        <!-- edit form -->
                    </div>
                {% endfor %}
            {% endif %}
            

            {% if transaction_outcome %}
                {% for tr_outcome in transaction_outcome %}
                    <!-- Outcome Transaction Samples -->
                    <div class="transaction-card outcome" id="outcome1">
                        <p><strong>مبلغ: </strong>{{ tr_outcome.amount }} تومان</p>
                        <p><strong>تاریخ: </strong>{{ tr_outcome.transaction_date }}</p>
                        <p><strong>زمان: </strong>{{ tr_outcome.transaction_time }}</p>
                        <p><strong>دسته‌بندی: </strong>{{ tr_outcome.category_id.category_name}}</p>
                        <p><strong>توضیحات: </strong>{{ tr_outcome.description }}</p>
                        <button class="btn btn-warning btn-sm edit-btn" onclick="showEditModal({{ tr_outcome.id }}, '{{ tr_outcome.amount }}', '{{ tr_outcome.transaction_date }}', '{{ tr_outcome.transaction_time }}', '{{ tr_outcome.category_id.id }}', '{{ tr_outcome.description }}');">ویرایش</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="showConfirmModal({{ tr_outcome.id }});">حذف</button>
                        
                        <!-- edit form -->
                    </div>
                {% endfor %}
            {% endif %}

        </div>


        <a href="{% url 'add_category' %}"><button class="btn btn-info add-transaction-btn">دسته بندی ها</button></a>
        <!-- Add Transaction Button -->
        <button class="btn btn-success add-transaction-btn" id="addTransactionBtn">افزودن تراکنش</button>

        <!-- Add Transaction Form -->
        <div class="transaction-form" id="transactionForm">
            <div id="transaction-Date-time">
                <h4 class="text-center">افزودن تراکنش جدید</h4>
                {% if user.is_authenticated %}
                <form action="{% url 'add_transactions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <div class="form-group">
                        <label for="amount">مبلغ</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="مبلغ تراکنش" oninput="validateNumberInput(this)" required>
                    </div>
                    <div class="form-group">
                        <label for="transactionType">نوع تراکنش</label>
                        <select class="form-control" id="transactionType" name="transactionType" required>
                            <option value="income">درآمد</option>
                            <option value="outcome">هزینه</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionDate">تاریخ</label>
                        <input type="text" class="form-control" id="transactionDate" name="transactionDate" autocomplete="off" data-jdp data-jdp-max-date="today"placeholder="نمایش تاریخ تا امروز"data-jdp-only-date required/>
                    </div>
                    <div class="form-group">
                        <label for="transactionTime">زمان</label>
                        <input type="text" class="form-control" id="transactionTime" name="transactionTime"  autocomplete="off"  data-jdp placeholder="امکان انتخاب فقط زمان" data-jdp-only-time required/>
                    </div>
                    <div class="form-group">
                        <label for="category">دسته‌بندی</label>
                        <select class="form-control" id="category" name="category" required>
                            {% if category %}
                                {% for cat in category %}
                                <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">توضیحات</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="توضیحات تراکنش"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" name="add_transaction">ذخیره تراکنش</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>




<!-- Confirmation Modal -->
<div id="confirmModal" class="modal">
    <div class="modal-content">
        <p>آیا از حذف این تراکنش مطمئن هستید؟</p>
        <form action="{% url 'delete_transactions' %}" id="deleteForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="transaction_id" id="modalTransactionId">
            <input type="hidden" name="delete_transaction" value="delete_transaction" id="modalTransaction">
            <button type="submit" class="btn btn-danger">حذف</button>
            <button type="button" class="btn btn-secondary" onclick="closeConfirmModal();">انصراف</button>
        </form>
    </div>
</div>



<!-- Edit Transaction Modal -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <h4 class="text-center">ویرایش تراکنش</h4>
        <form action="{% url 'edit_transactions' %}" id="editForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="transaction_id" id="editTransactionId">
            <input type="hidden" name="edit_transaction" value="edit_transaction" id="modalTransaction">
            <div class="form-group">
                <label for="editAmount">مبلغ</label>
                <input type="number" class="form-control" id="editAmount" name="amount" oninput="validateNumberInput(this)" required>
            </div>
            <div class="form-group">
                <label for="editTransactionDate">تاریخ</label>
                <input type="text" class="form-control" id="editTransactionDate" name="transactionDate" autocomplete="off" data-jdp data-jdp-max-date="today"placeholder="نمایش تاریخ تا امروز"data-jdp-only-date required/>
            </div>
            <div class="form-group">
                <label for="editTransactionTime">زمان</label>
                <input type="text" class="form-control" id="editTransactionTime" name="transactionTime" autocomplete="off" data-jdp placeholder="امکان انتخاب فقط زمان" data-jdp-only-time required/>
            </div>
            <div class="form-group">
                <label for="editCategory">دسته‌بندی</label>
                <select class="form-control" id="editCategory" name="category" required>
                    {% if category %}
                        {% for cat in category %}
                        <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="editDescription">توضیحات</label>
                <textarea class="form-control" id="editDescription" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">ذخیره</button>
            <button type="button" class="btn btn-secondary" onclick="closeEditModal();">انصراف</button>
        </form>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/script.min.js' %}"></script>
<script
 type="text/javascript"
 src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"
></script>
{% endblock %}