{% extends 'base.html' %}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/jalalidatepicker.min.css' %}">
 

 <div class="container">
    <div class="transactions-container" id="transactions-container">
        <h2 class="text-center mb-4">تراکنش‌ها</h2>

        <!-- Filter Buttons -->
        <div class="filter-buttons">
            <button class="btn btn-primary" id="showIncome">درآمدها</button>
            <button class="btn btn-secondary" id="showOutcome">هزینه‌ها</button>
        </div>

        <!-- Income Transaction Samples -->
        {% if transaction_income %}
            {% for tr_income in transaction_income %}
                <div class="transaction-card income" id="income1">
                    <p><strong>مبلغ: </strong>{{ tr_income.amount }} تومان</p>
                    <p><strong>تاریخ: </strong>{{ tr_income.transaction_date }}</p>
                    <p><strong>زمان: </strong>{{ tr_income.transaction_time }}</p>
                    <p><strong>دسته‌بندی: </strong>{{ tr_income.category_id.category_name}}</p>
                    <p><strong>توضیحات: </strong>{{ tr_income.description }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if transaction_outcome %}
            {% for tr_income in transaction_outcome %}
                <!-- Outcome Transaction Samples -->
                <div class="transaction-card outcome" id="outcome1">
                    <p><strong>مبلغ: </strong>{{ tr_income.amount }} تومان</p>
                    <p><strong>تاریخ: </strong>{{ tr_income.transaction_date }}</p>
                    <p><strong>زمان: </strong>{{ tr_income.transaction_time }}</p>
                    <p><strong>دسته‌بندی: </strong>{{ tr_income.category_id.category_name}}</p>
                    <p><strong>توضیحات: </strong>{{ tr_income.description }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Add Transaction Button -->
        <button class="btn btn-success add-transaction-btn" id="addTransactionBtn">افزودن تراکنش</button>

        <!-- Add Transaction Form -->
        <div class="transaction-form" id="transactionForm">
            <div id="transaction-Date-time">
                <h4 class="text-center">افزودن تراکنش جدید</h4>
                {% if user.is_authenticated %}
                <form action="{% url 'add_transactions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <div class="form-group">
                        <label for="amount">مبلغ</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="مبلغ تراکنش" required>
                    </div>
                    <div class="form-group">
                        <label for="transactionType">نوع تراکنش</label>
                        <select class="form-control" id="transactionType" name="transactionType" required>
                            <option value="income">درآمد</option>
                            <option value="outcome">هزینه</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionDate">تاریخ</label>
                        <input type="text" class="form-control" id="transactionDate" name="transactionDate" data-jdp data-jdp-max-date="today"placeholder="نمایش تاریخ تا امروز"data-jdp-only-date required/>
                    </div>
                    <div class="form-group">
                        <label for="transactionTime">زمان</label>
                        <input type="text" class="form-control" id="transactionTime" name="transactionTime" data-jdp placeholder="امکان انتخاب فقط زمان" data-jdp-only-time required/>
                    </div>
                    <div class="form-group">
                        <label for="category">دسته‌بندی</label>
                        <select class="form-control" id="category" name="category" required>
                            {% if category %}
                                {% for cat in category %}
                                <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">توضیحات</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="توضیحات تراکنش"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" name="add_transaction">ذخیره تراکنش</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/script.min.js' %}"></script>
<script
 type="text/javascript"
 src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"
></script>
{% endblock %}